{% load static%}
<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Mentoring</title>
		
		<!-- Favicon -->
		<link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">

		<!-- Aos CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/aos/aos.css' %}">

		<!-- Slick Slider CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/slick/slick.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/slick/slick-theme.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header-eight min-header">
				<div class="header-fixed header-fixed-wrap">
					<nav class="navbar navbar-expand-lg header-nav header-nav-eight">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon bar-icon-eight">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="{% url 'home' %}" class="navbar-brand navbar-brand-eight logo">
								<img src="{% static 'assets/img/logo-9.png' %}" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper main-menu-wrapper-eight">
							<div class="menu-header menu-header-eight">
								<a href="{% url 'home' %}" class="menu-logo">
									<img src="{% static 'assets/img/logo-9.png' %}" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav main-nav-eight">
								
								<li>
									<a href="{% url 'home' %}" target="_blank">Home</a>
								</li>
								<li>
									<a href="About us/index.html" target="_blank">About us</a>
								</li>
								<li>
								
								<li>
									<a href="{% url 'login' %}">Login</a>
								</li>							
								<li class="login-link">
									<a href="{% url 'login' %}">Login</a>
								</li>						
								<li class="login-link">
									<a href="{% url 'register' %}">Register</a>
								</li>
							</ul>		 
						</div>		 
						<ul class="nav header-navbar-rht header-navbar-rht-eight">
							<li class="nav-item">
								<a class="nav-link btn btn-register" href="{% url 'register' %}"><i class="fas fa-sign-in-alt"></i> Sign up</a>
							</li>
							<li class="nav-item">
								<a class="nav-link btn btn-login" href="{% url 'login' %}"><i class="fas fa-lock"></i> Sign in</a>
							</li>
						</ul>
					</nav>
				</div>	
			</header>
			<!-- /Header -->
			
			<!-- Home Banner -->
			<section class="section section-search-eight">
				<div class="container">
					<div class="banner-wrapper-eight m-auto text-center">
						<div class="banner-header aos" data-aos="fade-up">
							<h1>Search Teacher in <span>Mentoring</span> Appointment</h1>
							<p>Discover the best Mentors & institutions the city nearest to you.</p>
						</div>
                         
						<!-- Search -->
						<div class="search-box-eight aos" data-aos="fade-up">
							<form action="{% url 'search' %}">
								<div class="form-search">
									<div class="form-inner">
										<div class="form-group search-location-eight">
											<i class="material-icons">my_location</i>
											<select class="form-control select">
												<option>Location</option>
												<option>Afghanistan</option>
												<option>Albania</option>
												<option>Algeria</option>
												<option>Andorra</option>
												<option>Angola</option>
												<option>Antigua and Barbuda</option>
												<option>Argentina</option>
												<option>Armenia</option>
												<option>Australia</option>
												<option>Austria</option>
												<option>Azerbaijan</option>
												<option>Bahamas</option>
												<option>Bahrain</option>
												<option>Bangladesh</option>
												<option>Barbados</option>
												<option>Belarus</option>
												<option>Belgium</option>
												<option>Belize</option>
												<option>Benin</option>
												<option>Bhutan</option>
												<option>Bolivia</option>
												<option>Bosnia and Herzegovina</option>
												<option>Botswana</option>
												<option>Brazil</option>
												<option>Brunei</option>
												<option>Bulgaria</option>
												<option>Burkina Faso</option>
												<option>Burundi</option>
												<option>Cabo Verde</option>
												<option>Cambodia</option>
												<option>Cameroon</option>
												<option>Canada</option>
												<option>Central African Republic</option>
												<option>Chad</option>
												<option>Chile</option>
												<option>China</option>
												<option>Colombia</option>
												<option>Comoros</option>
												<option>Congo, Democratic Republic of the</option>
												<option>Congo, Republic of the</option>
												<option>Costa Rica</option>
												<option>Croatia</option>
												<option>Cuba</option>
												<option>Cyprus</option>
												<option>Czech Republic</option>
												<option>Denmark</option>
												<option>Djibouti</option>
												<option>Dominica</option>
												<option>Dominican Republic</option>
												<option>East Timor</option>
												<option>Ecuador</option>
												<option>Egypt</option>
												<option>El Salvador</option>
												<option>Equatorial Guinea</option>
												<option>Eritrea</option>
												<option>Estonia</option>
												<option>Eswatini</option>
												<option>Ethiopia</option>
												<option>Fiji</option>
												<option>Finland</option>
												<option>France</option>
												<option>Gabon</option>
												<option>Gambia</option>
												<option>Georgia</option>
												<option>Germany</option>
												<option>Ghana</option>
												<option>Greece</option>
												<option>Grenada</option>
												<option>Guatemala</option>
												<option>Guinea</option>
												<option>Guinea-Bissau</option>
												<option>Guyana</option>
												<option>Haiti</option>
												<option>Honduras</option>
												<option>Hungary</option>
												<option>Iceland</option>
												<option>India</option>
												<option>Indonesia</option>
												<option>Iran</option>
												<option>Iraq</option>
												<option>Ireland</option>
												<option>Israel</option>
												<option>Italy</option>
												<option>Jamaica</option>
												<option>Japan</option>
												<option>Jordan</option>
												<option>Kazakhstan</option>
												<option>Kenya</option>
												<option>Kiribati</option>
												<option>Korea, North</option>
												<option>Korea, South</option>
												<option>Kosovo</option>
												<option>Kuwait</option>
												<option>Kyrgyzstan</option>
												<option>Laos</option>
												<option>Latvia</option>
												<option>Lebanon</option>
												<option>Lesotho</option>
												<option>Liberia</option>
												<option>Libya</option>
												<option>Liechtenstein</option>
												<option>Lithuania</option>
												<option>Luxembourg</option>
												<option>Madagascar</option>
												<option>Malawi</option>
												<option>Malaysia</option>
												<option>Maldives</option>
												<option>Mali</option>
												<option>Malta</option>
												<option>Marshall Islands</option>
												<option>Mauritania</option>
												<option>Mauritius</option>
												<option>Mexico</option>
												<option>Micronesia</option>
												<option>Moldova</option>
												<option>Monaco</option>
												<option>Mongolia</option>
												<option>Montenegro</option>
												<option>Morocco</option>
												<option>Mozambique</option>
												<option>Myanmar</option>
												<option>Namibia</option>
												<option>Nauru</option>
												<option>Nepal</option>
												<option>Netherlands</option>
												<option>New Zealand</option>
												<option>Nicaragua</option>
												<option>Niger</option>
												<option>Nigeria</option>
												<option>North Macedonia</option>
												<option>Norway</option>
												<option>Oman</option>
												<option>Pakistan</option>
												<option>Palau</option>
												<option>Panama</option>
												<option>Papua New Guinea</option>
												<option>Paraguay</option>
												<option>Peru</option>
												<option>Philippines</option>
												<option>Poland</option>
												<option>Portugal</option>
												<option>Qatar</option>
												<option>Romania</option>
												<option>Russia</option>
												<option>Rwanda</option>
												<option>Saint Kitts and Nevis</option>
												<option>Saint Lucia</option>
												<option>Saint Vincent and the Grenadines</option>
												<option>Samoa</option>
												<option>San Marino</option>
												<option>Sao Tome and Principe</option>
												<option>Saudi Arabia</option>
												<option>Senegal</option>
												<option>Serbia</option>
												<option>Seychelles</option>
												<option>Sierra Leone</option>
												<option>Singapore</option>
												<option>Slovakia</option>
												<option>Slovenia</option>
												<option>Solomon Islands</option>
												<option>Somalia</option>
												<option>South Africa</option>
												<option>South Sudan</option>
												<option>Spain</option>
												<option>Sri Lanka</option>
												<option>Sudan</option>
												<option>Suriname</option>
												<option>Sweden</option>
												<option>Switzerland</option>
												<option>Syria</option>
												<option>Taiwan</option>
												<option>Tajikistan</option>
												<option>Tanzania</option>
												<option>Thailand</option>
												<option>Togo</option>
												<option>Tonga</option>
												<option>Trinidad and Tobago</option>
												<option>Tunisia</option>
												<option>Turkey</option>
												<option>Turkmenistan</option>
												<option>Tuvalu</option>
												<option>Uganda</option>
												<option>Ukraine</option>
												<option>United Arab Emirates</option>
												<option>United Kingdom</option>
												<option>United States</option>
												<option>Uruguay</option>
												<option>Uzbekistan</option>
												<option>Vanuatu</option>
												<option>Vatican City</option>
												<option>Venezuela</option>
												<option>Vietnam</option>
												<option>Yemen</option>
												<option>Zambia</option>
												<option>Zimbabwe</option>
											  </select>
											  
										</div>
										<div class="form-group search-info-eight">
											<i class="material-icons">location_city</i>
											<input type="text" class="form-control" placeholder="Search School, Online educational centers, etc">
										</div>
										<button type="submit" class="btn search-btn-eight mt-0">Search <i class="fas fa-long-arrow-alt-right"></i></button>
									</div>
								</div>
							</form>
						</div>
						<!-- /Search -->
						
					</div>
				</div>
			</section>
			<!-- /Home Banner -->

			<!-- Work Flow -->
			<section class="section how-it-works-section">
				<div class="container">
					<div class="section-header-eight text-center aos" data-aos="fade-up">
						<span>Mentoring Flow</span>
						<h2>How does it works ?</h2>
						<p class="sub-title">Are you looking to join online institutions? Now it's very simple, Sign up with mentoring</p>
						<div class="sec-dots">
							  <span></span>
							  <span></span>
							  <span></span>
						</div>
					</div>
					<div class="row justify-content-center feature-list">
						<div class="col-12 col-md-4 col-lg-3 aos" data-aos="fade-up">
							<div class="feature-grid text-center top-box">					
								<div class="feature-header-eight">
									<div class="feature-icon-eight">
										<span class="circle bg-green"><i class="fas fa-sign-in-alt"></i></span>
									</div>		
									<div class="feature-cont">	
										<div class="feature-text-eight">Sign up</div>
									</div>
									
								</div>
								<p>Are you looking to join online Learning? Now it's very simple, Now Sign up</p>
								<span class="text-green">01</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-3 offset-lg-1 aos" data-aos="fade-up">
							<div class="feature-grid text-center">					
								<div class="feature-header-eight">
									<div class="feature-icon-eight">
										<span class="circle bg-blue"><i class="material-icons">accessibility</i></span>
									</div>	
									<div class="feature-cont">
										<div class="feature-text-eight">Collaborate</div>
									</div>
								</div>
								<p>Collaborate on your own timing, by scheduling with mentor booking</p>
								<span class="text-blue">02</span>
							</div>
						</div>
						<div class="col-12 col-md-4 col-lg-3 offset-lg-1 aos" data-aos="fade-up">
							<div class="feature-grid text-center top-box">					
								<div class="feature-header-eight">
									<div class="feature-icon-eight">
										<span class="circle bg-orange"><i class="material-icons">event_seat</i></span>
									</div>	
									<div class="feature-cont">
										<div class="feature-text-eight">Improve & Get Back</div>
									</div>
								</div>
								<p>you can gather different skill set, and you can become mentor too</p>
								<span class="text-orange">03</span>
							</div>
						</div>						
					</div>
				</div>
			</section>
			<!-- /Work Flow -->

			<!-- Popular Mendors -->
			<section class="section popular-mendors">
				<div class="mendor-title">
					<div class="section-header-eight text-center">
						<div class="container aos" data-aos="fade-up">
							<span>Mentoring Goals</span>
							<h2 class="text-white">Popular Mentors</h2>
							<p class="sub-title text-white"> Choose your most popular leaning mentors, it will help you to achieve your professional goals..</p>
							<div class="sec-dots">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="mendor-list">
					<div class="container aos" data-aos="fade-up">
						<div class="mendor-slider slick">
						
							<!-- Mentor Item -->
							<div class="mendor-box">
								<div class="mendor-img">
									<a href="{% url 'profile' %}">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-01.jpg' %}">
									</a>
									<div class="mendor-country"><i class="fas fa-map-marker-alt"></i> Paris, France</div>
								</div>
								<div class="mendor-content">
									<h3 class="title"><a href="{% url 'profile' %}">Donna Yancey</a></h3>
									<div class="mendor-course">
										Digital Marketer
									</div>
									<div class="mendor-price-list">									
										<div class="mendor-price">$100 <span>/ hr</span></div>
										<div class="mendor-rating">							
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<!-- /Mentor Item -->
							
							<!-- Mentor Item -->
							<div class="mendor-box">
								<div class="mendor-img">
									<a href="{% url 'profile' %}">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-02.jpg' %}">
									</a>
									<div class="mendor-country"><i class="fas fa-map-marker-alt"></i> Paris, France</div>
								</div>
								<div class="mendor-content">
									<h3 class="title"><a href="{% url 'profile' %}">James Amen</a></h3>
									<div class="mendor-course">
										UNIX, Calculus, Trigonometry
									</div>
									<div class="mendor-price-list">									
										<div class="mendor-price">$500 <span>/ hr</span></div>
										<div class="mendor-rating">							
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<!-- /Mentor Item -->
							
							<!-- Mentor Item -->
							<div class="mendor-box">
								<div class="mendor-img">
									<a href="{% url 'profile' %}">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-03.jpg' %}">
									</a>
									<div class="mendor-country"><i class="fas fa-map-marker-alt"></i> Paris, France</div>
								</div>
								<div class="mendor-content">
									<h3 class="title"><a href="{% url 'profile' %}">Marvin Downey</a></h3>
									<div class="mendor-course">
										ASP.NET,Computer Gaming
									</div>
									<div class="mendor-price-list">									
										<div class="mendor-price">$400 <span>/ hr</span></div>
										<div class="mendor-rating">							
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<!-- /Mentor Item -->
							
							<!-- Mentor Item -->
							<div class="mendor-box">
								<div class="mendor-img">
									<a href="{% url 'profile' %}">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-04.jpg' %}">
									</a>
									<div class="mendor-country"><i class="fas fa-map-marker-alt"></i> Paris, France</div>
								</div>
								<div class="mendor-content">
									<h3 class="title"><a href="{% url 'profile' %}">Betty Hairston</a></h3>
									<div class="mendor-course">
										Computer Programming
									</div>
									<div class="mendor-price-list">									
										<div class="mendor-price">$300 <span>/ hr</span></div>
										<div class="mendor-rating">							
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<!-- /Mentor Item -->
							
							<!-- Mentor Item -->
							<div class="mendor-box">
								<div class="mendor-img">
									<a href="{% url 'profile' %}">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-03.jpg' %}">
									</a>
									<div class="mendor-country"><i class="fas fa-map-marker-alt"></i> Paris, France</div>
								</div>
								<div class="mendor-content">
									<h3 class="title"><a href="{% url 'profile' %}">Jose Anderson</a></h3>
									<div class="mendor-course">
										Digital Marketer
									</div>
									<div class="mendor-price-list">									
										<div class="mendor-price">$400 <span>/ hr</span></div>
										<div class="mendor-rating">							
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
										</div>
									</div>
								</div>
							</div>
							<!-- /Mentor Item -->
							
						</div>
					</div>
				</div>
			</section>
			<!-- /Popular Mendors -->

			<!-- Path section start -->
			<section class="section path-section-eight">
				<div class="section-header-eight text-center aos" data-aos="fade-up">
					<div class="container">
						<span>Choose the</span>
						<h2>Different All Learning Paths</h2>
						<p class="sub-title">Are you looking to join online institutions? Now it's very simple, Sign up with mentoring</p>
						<div class="sec-dots">
							 <span></span>
							 <span></span>
							 <span></span>
						</div>
					</div>
				</div>
				<div class="course-sec">
					<div class="container">
						<div class="row">
							<!-- Course Item -->
							<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
								<div class="course-item">
									<a href="{% url 'search' %}" class="course-img">
										<div class="image-col-merge">
											<img src="{% static 'assets/img/course/course-01.jpg' %}" alt="learn">
											<div class="course-text">
												<h5>Digital Marketer</h5>
												<div class="d-flex justify-content-between">
													<p>400 Mentors</p>
													<p>10 Courses</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /Course Item -->
							
							<!-- Course Item -->
							<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
								<div class="course-item">
									<a href="{% url 'search' %}" class="course-img">
										<div class="image-col-merge">
											<img src="{% static 'assets/img/course/course-02.jpg' %}" alt="learn">
											<div class="course-text">
												<h5>Ui designer</h5>
												<div class="d-flex justify-content-between">
													<p>300 Mentors</p>
													<p>12 Courses</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /Course Item -->
							
							<!-- Course Item -->
							<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
								<div class="course-item">
									<a href="{% url 'search' %}" class="course-img">
										<div class="image-col-merge">
											<img src="{% static 'assets/img/course/course-03.jpg' %}" alt="learn">
											<div class="course-text">
												<h5>IT Security</h5>
												<div class="d-flex justify-content-between">
													<p>200 Mentors</p>
													<p>20 Courses</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /Course Item -->
							
							<!-- Course Item -->
							<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
								<div class="course-item">
									<a href="{% url 'search' %}" class="course-img">
										<div class="image-col-merge">
											<img src="{% static 'assets/img/course/course-04.jpg' %}" alt="learn">
											<div class="course-text">
												<h5>Front-End Developer</h5>
												<div class="d-flex justify-content-between">
													<p>100 Mentors</p>
													<p>11 Courses</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /Course Item -->
							
							<!-- Course Item -->
							<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
								<div class="course-item">
									<a href="{% url 'search' %}" class="course-img">
										<div class="image-col-merge">
											<img src="{% static 'assets/img/course/course-05.jpg' %}" alt="learn">
											<div class="course-text">
												<h5>Web Developer</h5>
												<div class="d-flex justify-content-between">
													<p>500 Mentors</p>
													<p>30 Courses</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /Course Item -->
							
							<!-- Course Item -->
							<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
								<div class="course-item">
									<a href="{% url 'search' %}" class="course-img">
										<div class="image-col-merge">
											<img src="{% static 'assets/img/course/course-06.jpg' %}" alt="learn">
											<div class="course-text">
												<h5>Administrator</h5>
												<div class="d-flex justify-content-between">
													<p>200 Mentors</p>
													<p>10 Courses</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /Course Item -->
							
							<!-- Course Item -->
							<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
								<div class="course-item">
									<a href="{% url 'search' %}" class="course-img">
										<div class="image-col-merge">
											<img src="{% static 'assets/img/course/course-07.jpg' %}" alt="learn">
											<div class="course-text">
												<h5>Project Manager</h5>
												<div class="d-flex justify-content-between">
													<p>600 Mentors</p>
													<p>40 Courses</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /Course Item -->
							
							<!-- Course Item -->
							<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
								<div class="course-item">
									<a href="{% url 'search' %}" class="course-img">
										<div class="image-col-merge">
											<img src="{% static 'assets/img/course/course-08.jpg' %}" alt="learn">
											<div class="course-text">
												<h5>PHP Developer</h5>
												<div class="d-flex justify-content-between">
													<p>400 Mentors</p>
													<p>10 Courses</p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /Course Item -->
							
						</div>
						<div class="view-all text-center aos" data-aos="fade-up">
							<a href="{% url 'search' %}" class="btn btn-primary btn-view">View All</a>
						</div>						
					</div>
				</div>
			</section>
			<!-- Path section end -->

			<!-- Profile Section -->
			<section class="section profile-section">
				<div class="section-header-eight text-center aos" data-aos="fade-up">
					<div class="container">
						<span>MOST VIEWED</span>
						<h2>Featured Profile of this week</h2>
						<p class="sub-title">Are you looking to join online institutions? Now it's very simple, Sign up with mentoring</p>
						<div class="sec-dots">
							 <span></span>
							 <span></span>
							 <span></span>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<!-- Profile Item -->
						<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
							<div class="profile-list">
								<div class="profile-detail">
									<div class="profile-img-eight">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-01.jpg'" %}">
									</div>
									<div class="profile-content">
										<h4>Donna Yancey</h4>
										<p>UNIX, Calculus, Trigonometry</p>
									</div>
								</div>
								<div class="profile-rating">
									<div class="mendor-rating">							
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
									</div>
									<div class="price-box">$500 <span>/ hr</span></div>
								</div>
							</div>
						</div>
						<!-- /Profile Item -->
						
						<!-- Profile Item -->
						<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
							<div class="profile-list">
								<div class="profile-detail">
									<div class="profile-img-eight">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-02.jpg' %}">
									</div>
									<div class="profile-content">
										<h4>Betty Hairston</h4>
										<p>Computer Programming</p>
									</div>
								</div>
								<div class="profile-rating">
									<div class="mendor-rating">							
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
									</div>
									<div class="price-box">$200 <span>/ hr</span></div>
								</div>
							</div>
						</div>
						<!-- /Profile Item -->
						
						<!-- Profile Item -->
						<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
							<div class="profile-list">
								<div class="profile-detail">
									<div class="profile-img-eight">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-03.jpg' %}">
									</div>
									<div class="profile-content">
										<h4>Jose Anderson</h4>
										<p>ASP.NET,Computer Gaming</p>
									</div>
								</div>
								<div class="profile-rating">
									<div class="mendor-rating">							
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
									</div>
									<div class="price-box">$300 <span>/ hr</span></div>
								</div>
							</div>
						</div>
						<!-- /Profile Item -->
						
						<!-- Profile Item -->
						<div class="col-12 col-md-6 col-lg-3 aos" data-aos="fade-up">
							<div class="profile-list">
								<div class="profile-detail">
									<div class="profile-img-eight">
										<img class="img-fluid" alt="" src="{% static 'assets/img/mendor/mendor-04.jpg' %}">
									</div>
									<div class="profile-content">
										<h4>James Amen</h4>
										<p>Digital Marketer</p>
									</div>
								</div>
								<div class="profile-rating">
									<div class="mendor-rating">							
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
									</div>
									<div class="price-box">$400 <span>/ hr</span></div>
								</div>
							</div>
						</div>
						<!-- /Profile Item -->
					</div>
				</div>
			</section>
			<!-- /Profile Section -->

			<!-- Statistics Section -->
			<section class="section statistics-section-eight">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-4 aos" data-aos="fade-up">
							<div class="statistics-list-eight">
								<div class="statistics-icon-eight">
									<i class="fas fa-street-view"></i>
								</div>
								<div class="statistics-content-eight">
									<span>500+</span>
									<h3>Happy Clients</h3>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 aos" data-aos="fade-up">
							<div class="statistics-list-eight">
								<div class="statistics-icon-eight">
									<i class="fas fa-history"></i>
								</div>
								<div class="statistics-content-eight">
									<span>120+</span>
									<h3>Online Appointments</h3>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4 aos" data-aos="fade-up">
							<div class="statistics-list-eight">
								<div class="statistics-icon-eight">
									<i class="fas fa-user-check"></i>
								</div>
								<div class="statistics-content-eight">
									<span>100%</span>
									<h3>Job Satisfaction</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Statistics Section -->

			<!-- Footer -->
			<footer class="footer footer-eight">
				
				<!-- Footer Top -->
				<div class="footer-top aos" data-aos="fade-up">
					<div class="container-fluid">
						<div class="row">
						
							<div class="col-lg-3 col-md-6">							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static 'assets/img/logo-white.png' %}" alt="logo">
									</div>
									<div class="footer-about-content">
										<p> We aim to create a supportive and inclusive community where mentors can share their expertise, guidance, and experiences, while mentees can access valuable insights and support to navigate their unique paths. </p>
									</div>
								</div>
								<!-- /Footer Widget -->								
							</div>
							
							<div class="col-lg-3 col-md-6">							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Mentee</h2>
									<ul>
										<li><a href="{% url 'search' %}">Search Mentors</a></li>
										<li><a href="{% url 'login' %}">Login</a></li>
										<li><a href="{% url 'register' %}">Register</a></li>
										<li><a href="{% url 'booking' %}">Booking</a></li>
										<li><a href="{% url 'menteedashboard' %}">Mentee Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->								
							</div>
							
							<div class="col-lg-3 col-md-6">							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Mentors</h2>
									<ul>
										<li><a href="{% url 'appointments' %}">Appointments</a></li>
										<li><a href="{% url 'chat' %}">Chat</a></li>
										<li><a href="{% url 'login' %}">Login</a></li>
										<li><a href="{% url 'register' %}">Register</a></li>
										<li><a href="{% url 'menteedashboard' %}">Mentor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->								
							</div>
							
							<div class="col-lg-3 col-md-6">							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											+1 315 369 5943
										</p>
										<p class="mb-0">
											mentoring@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2023
											Mentoring. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6">									
									<div class="social-icon text-md-end">
										<ul>
											<li>
												<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
		
		<!-- Bootstrap Bundle JS -->
		<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Select2 JS -->
		<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

		<!-- Slick Slider JS -->
		<script src="{% static 'assets/plugins/slick/slick.js' %}"></script>

		<!-- Aos JS -->
		<script src="{% static 'assets/plugins/aos/aos.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets/js/script.js' %}"></script>
		
	</body>
</html>